.triangle-right {
    position: absolute;
    top: 50%;
    right: -10px; 
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 10px solid #1F5882; 
    border-bottom: 10px solid transparent;
    transform: translateY(-50%);
}
.list-square-left {
    list-style: none;
    padding-left: 24px;
}

.list-square-left li {
    position: relative; 
    margin-bottom: 8px; 
}

.list-square-left li::before {
    content: '';
    position: absolute; 
    left: -20px; 
    top: 7.5px; 
    width: 6px; 
    height: 6px; 
    background-color: black;
}

.list-square-right {
    list-style: none; 
    padding-left: 24px; 
}

.list-square-right li {
    position: relative; 
    margin-bottom: 8px; 
}

.list-square-right li::before {
    content: ''; 
    position: absolute; 
    left: -20px; 
    top: 7.5px; 
    width: 8px; 
    height: 8px; 
    background-color: black; 
}
